@charset "utf-8";

@font-face {
    font-family: "Iosevka";
    src: url("typography/Iosevka-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    font-stretch: normal;
}

@font-face {
    font-family: "Iosevka";
    src: url("typography/Iosevka-Italic.woff2") format("woff2");
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    font-stretch: normal;
}

@font-face {
    font-family: "Iosevka";
    src: url("typography/Iosevka-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    font-stretch: normal;
}

@font-face {
    font-family: "Iosevka";
    src: url("typography/Iosevka-Bold-Italic.woff2") format("woff2");
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    font-stretch: normal;
}
