@font-face {
    font-family: "PollerOne";
    src: url("typography/PollerOne-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
    font-display: block;
    font-stretch: normal;
}
