@charset "utf-8";

/*
Sources:
https://iconhub.io/
https://www.svgrepo.com/

Compress:
https://svgoptimizer.com/

Encode:
https://websemantics.uk/tools/svg-to-background-image-conversion/

CSS filter generator to convert from black to target hex color:
https://codepen.io/sosuke/pen/Pjoqqp
*/

svg-icon,
b.svg-icon {
  /* : This has media variations */
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 2.4rem;
  width: 2.4rem;
  mask-size: 2.4rem;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: filter 0.5s;

  /* Antialiasing properties */
  transform: translateZ(0);
  backface-visibility: hidden;
  shape-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;

  /* color: #015f6b; */
  /* filter: invert(25%) sepia(94%) saturate(544%) hue-rotate(141deg) brightness(97%) contrast(99%); */

}

svg-icon.small,
b.svg-icon.small {
  height: 1.7rem;
  width: 1.7rem;
  mask-size: 1.7rem;
}

svg-icon.large,
b.svg-icon.large {
  height: 3.2rem;
  width: 3.2rem;
  mask-size: 3.2rem;
}

svg-icon.inline,
b.svg-icon.inline {
  aspect-ratio: 1;
  /*vertical-align: text-bottom;*/
  height: 1lh;
  width: 1lh;
  mask-size: contain;
  margin: 0;
  padding: 0;
}

a:hover svg-icon,
label:hover svg-icon,
a:active svg-icon,
label:active svg-icon,
a:hover b.svg-icon,
label:hover b.svg-icon,
a:active b.svg-icon,
label:active b.svg-icon {
  /* color: #00bad3; */
  filter: invert(66%) sepia(96%) saturate(2549%) hue-rotate(142deg) brightness(89%) contrast(103%);
}

svg-icon.active,
b.svg-icon.active {
  /* color: #00bad3; */
  filter: invert(66%) sepia(96%) saturate(2549%) hue-rotate(142deg) brightness(89%) contrast(103%);
}

svg-icon.red,
b.svg-icon.red {
  /* color: #ff0000; */
  filter: invert(19%) sepia(73%) saturate(6658%) hue-rotate(356deg) brightness(89%) contrast(128%);
}

a:hover svg-icon.red,
label:hover svg-icon.red,
a:active svg-icon.red,
label:active svg-icon.red,
a:hover b.svg-icon.red,
label:hover b.svg-icon.red,
a:active b.svg-icon.red,
label:active b.svg-icon.red {
  background-color: #ff000040;
  transition: background-color 0.5s;
  filter: invert(19%) sepia(73%) saturate(6658%) hue-rotate(356deg) brightness(89%) contrast(128%);
}

svg-icon.green,
b.svg-icon.green {
  /* color: #008000; */
  filter: invert(21%) sepia(77%) saturate(5925%) hue-rotate(118deg) brightness(95%) contrast(106%);
}

a:hover svg-icon.green,
label:hover svg-icon.green,
a:active svg-icon.green,
label:active svg-icon.green,
a:hover b.svg-icon.green,
label:hover b.svg-icon.green,
a:active b.svg-icon.green,
label:active b.svg-icon.green {
  background-color: #00800040;
  transition: background-color 0.5s;
  filter: invert(21%) sepia(77%) saturate(5925%) hue-rotate(118deg) brightness(95%) contrast(106%);
}

svg-icon.orange,
b.svg-icon.orange {
  /* color: #ffa500; */
  filter: invert(67%) sepia(66%) saturate(2644%) hue-rotate(360deg) brightness(103%) contrast(105%);
}

a:hover svg-icon.orange,
label:hover svg-icon.orange,
a:active svg-icon.orange,
label:active svg-icon.orange,
a:hover b.svg-icon.orange,
label:hover b.svg-icon.orange,
a:active b.svg-icon.orange,
label:active b.svg-icon.orange {
  /* background-color: #ffa50040; */
  transition: background-color 0.5s;
  filter: invert(67%) sepia(66%) saturate(2644%) hue-rotate(360deg) brightness(103%) contrast(105%);
}

svg-icon.yellow,
b.svg-icon.yellow {
  /* color: #ffff00; */
  filter: invert(85%) sepia(81%) saturate(933%) hue-rotate(4deg) brightness(107%) contrast(108%);
}

a:hover svg-icon.yellow,
label:hover svg-icon.yellow,
a:active svg-icon.yellow,
label:active svg-icon.yellow,
a:hover b.svg-icon.yellow,
label:hover b.svg-icon.yellow,
a:active b.svg-icon.yellow,
label:active b.svg-icon.yellow {
  /* background-color: #ffff0040; */
  transition: background-color 0.5s;
  filter: invert(85%) sepia(81%) saturate(933%) hue-rotate(4deg) brightness(107%) contrast(108%);
}

svg-icon.light,
b.svg-icon.light {
  /* color: #dcdcdc;; */
  filter: invert(69%) sepia(91%) saturate(1%) hue-rotate(314deg) brightness(113%) contrast(83%);
}

a:hover svg-icon.light,
label:hover svg-icon.light,
a:active svg-icon.light,
label:active svg-icon.light,
a:hover b.svg-icon.light,
label:hover b.svg-icon.light,
a:active b.svg-icon.light,
label:active b.svg-icon.light {
  /* background-color: #dcdcdc; */
  transition: background-color 0.5s;
  filter: invert(69%) sepia(91%) saturate(1%) hue-rotate(314deg) brightness(113%) contrast(83%);
}


svg-icon.disabled,
svg-icon.active.disabled,
.disable svg-icon,
a.disabled svg-icon,
a.disabled:link svg-icon,
a.disabled:hover svg-icon,
a.disabled:active svg-icon,
a.disabled:visited svg-icon,
label.disabled svg-icon,
label.disabled:hover svg-icon,
label.disabled:active svg-icon,
b.svg-icon.disabled,
b.svg-icon.active.disabled,
.disable b.svg-icon,
a.disabled b.svg-icon,
a.disabled:link b.svg-icon,
a.disabled:hover b.svg-icon,
a.disabled:active b.svg-icon,
a.disabled:visited svg-icon,
label.disabled b.svg-icon,
label.disabled:hover b.svg-icon,
label.disabled:active b.svg-icon {
  background-color: transparent;
  transition: none;
  /* color: #999999; */
  filter: invert(75%) sepia(0%) saturate(89%) hue-rotate(228deg) brightness(83%) contrast(82%);
}

svg-icon.annotations,
b.svg-icon.annotations {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='96' height='96'%3E%3Cpath style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.25;stroke-dasharray:none' d='M18 4a1 1 0 0 1 1 1v15a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1'/%3E%3Cpath style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.25;stroke-dasharray:none' d='M14 6h-4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1zm-5 5h6m-6 4h6' data-name='primary'/%3E%3C/svg%3E");
  -webkit-mask-image: var(--u);
  mask-image: var(--u);
}

svg-icon.annotations-delete,
b.svg-icon.annotations-delete {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='96' height='96'%3E%3Cpath style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.25;stroke-dasharray:none' d='M18 4a1 1 0 0 1 1 1v15a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1'/%3E%3Crect style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.25;stroke-dasharray:none' rx='1' height='3' width='6' y='3' x='9' data-name='primary'/%3E%3Cpath style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.25;stroke-dasharray:none' data-name='primary' d='m10 15 4-4M10 11l4 4'/%3E%3C/svg%3E");
  -webkit-mask-image: var(--u);
  mask-image: var(--u);
}

svg-icon.annotations-download-2,
b.svg-icon.annotations-download-2 {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='96' height='96'%3E%3Cpath style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.25;stroke-dasharray:none' d='M18 4a1 1 0 0 1 1 1v15a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1'/%3E%3Cpath style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.25;stroke-dasharray:none' d='M14 6h-4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1zm-2 10v-6M10 14l2 2 2-2' data-name='primary'/%3E%3C/svg%3E");
  -webkit-mask-image: var(--u);
  mask-image: var(--u);
}

svg-icon.annotations-edit,
b.svg-icon.annotations-edit {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='96' height='96'%3E%3Cpath style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.25;stroke-dasharray:none' d='M18 4a1 1 0 0 1 1 1v15a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1'/%3E%3Cpath style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.25;stroke-dasharray:none' d='M14 6h-4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1zm.33 6.29a1.51 1.51 0 0 0 0-2.12h0a1.51 1.51 0 0 0-2.12 0L9 13.35l-.36 2.48 2.48-.36z' data-name='primary'/%3E%3C/svg%3E");
  -webkit-mask-image: var(--u);
  mask-image: var(--u);
}

svg-icon.annotations-upload-2,
b.svg-icon.annotations-upload-2 {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='96' height='96'%3E%3Cpath style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.25;stroke-dasharray:none' d='M18 4a1 1 0 0 1 1 1v15a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1'/%3E%3Cpath style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.25;stroke-dasharray:none' d='M14 6h-4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1zm-2 4v6M10 12l2-2 2 2' data-name='primary'/%3E%3C/svg%3E");
  -webkit-mask-image: var(--u);
  mask-image: var(--u);
}

svg-icon.arrow-down,
b.svg-icon.arrow-down {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='96' height='96'%3E%3Cpath style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.25;stroke-dasharray:none' d='m3 6 9 12 9-12'/%3E%3C/svg%3E");
  -webkit-mask-image: var(--u);
  mask-image: var(--u);
}

svg-icon.arrow-left-double,
b.svg-icon.arrow-left-double {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='96' height='96'%3E%3Cpath style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.25;stroke-dasharray:none' d='m19 3-5 9 5 9'/%3E%3Cpath style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.25;stroke-dasharray:none' data-name='primary' d='m10 3-5 9 5 9'/%3E%3C/svg%3E");
  -webkit-mask-image: var(--u);
  mask-image: var(--u);
}

svg-icon.arrow-up,
b.svg-icon.arrow-up {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='96' height='96'%3E%3Cpath style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.25;stroke-dasharray:none' d='M21 18 12 6 3 18'/%3E%3C/svg%3E");
  -webkit-mask-image: var(--u);
  mask-image: var(--u);
}

svg-icon.arrow-up-double,
b.svg-icon.arrow-up-double {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='96' height='96'%3E%3Cpath style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.25;stroke-dasharray:none' d='m21 19-9-5-9 5'/%3E%3Cpath style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.25;stroke-dasharray:none' data-name='primary' d='m21 10-9-5-9 5'/%3E%3C/svg%3E");
  -webkit-mask-image: var(--u);
  mask-image: var(--u);
}

svg-icon.cross,
b.svg-icon.cross {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='96' height='96'%3E%3Cpath style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.25;stroke-dasharray:none' d='M19 19 5 5'/%3E%3Cpath style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.25;stroke-dasharray:none' data-name='primary' d='M19 5 5 19'/%3E%3C/svg%3E");
  -webkit-mask-image: var(--u);
  mask-image: var(--u);
}

svg-icon.help,
b.svg-icon.help {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='96' height='96'%3E%3Cpath style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.25;stroke-dasharray:none' d='M21 12a9 9 0 1 1-9-9 9 9 0 0 1 9 9zm-9 1c0-2 3-1 3-4S9 6 9 9'/%3E%3Cpath style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.125px' d='M12.05 17h-.1'/%3E%3C/svg%3E");
  -webkit-mask-image: var(--u);
  mask-image: var(--u);
}

svg-icon.link,
b.svg-icon.link {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='96' height='96'%3E%3Cpath style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.25;stroke-dasharray:none' d='M10 9a1 1 0 0 0-1-1H7a4 4 0 0 0-4 4h0a4 4 0 0 0 4 4h2a1 1 0 0 0 1-1'/%3E%3Cpath style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.25;stroke-dasharray:none' d='M14 15a1 1 0 0 0 1 1h2a4 4 0 0 0 4-4h0a4 4 0 0 0-4-4h-2a1 1 0 0 0-1 1M8 12h8' data-name='primary'/%3E%3C/svg%3E");
  -webkit-mask-image: var(--u);
  mask-image: var(--u);
}

svg-icon.marker,
b.svg-icon.marker {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='96' height='96'%3E%3Cpath style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.25;stroke-dasharray:none' d='m12 17-7 4V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v17z'/%3E%3C/svg%3E");
  -webkit-mask-image: var(--u);
  mask-image: var(--u);
}

svg-icon.mode,
b.svg-icon.mode {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='96' height='96'%3E%3Cpath style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.25;stroke-dasharray:none' d='M21 12a9 9 0 1 1-9-9 9 9 0 0 1 9 9zm-9-5v10a5 5 0 0 0 0-10z'/%3E%3Cpath style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.25;stroke-dasharray:none' data-name='primary' d='M12 17V7'/%3E%3C/svg%3E");
  -webkit-mask-image: var(--u);
  mask-image: var(--u);
}

svg-icon.qr,
b.svg-icon.qr {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='96' height='96'%3E%3Cpath style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.25;stroke-dasharray:none' d='M9 10H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1zm12-1V4a1 1 0 0 0-1-1h-5a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1zM10 20v-5a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1zm7-6h-3v3h3z'/%3E%3Cpath style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.25;stroke-dasharray:none' d='M21 14v5a2 2 0 0 1-2 2h-5' data-name='primary'/%3E%3C/svg%3E");
  -webkit-mask-image: var(--u);
  mask-image: var(--u);
}

svg-icon.search,
b.svg-icon.search {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='96' height='96'%3E%3Cpath style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.25;stroke-dasharray:none' d='M8 20H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h8.59a1 1 0 0 1 .7.29l3.42 3.42a1 1 0 0 1 .29.7V8'/%3E%3Cpath style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.25;stroke-dasharray:none' d='M14 19a4 4 0 1 0-4-4 4 4 0 0 0 4 4zm7 2-4-3.4' data-name='primary'/%3E%3C/svg%3E");
  -webkit-mask-image: var(--u);
  mask-image: var(--u);
}

svg-icon.toc,
b.svg-icon.toc {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 24 24' data-name='Layer 1' width='96' height='96' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.25;stroke-dasharray:none' d='M3.45 6h.1'/%3E%3Cpath style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.25;stroke-dasharray:none' data-name='primary-upstroke' d='M3.45 12h.1M3.45 18h.1'/%3E%3Cpath style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.25;stroke-dasharray:none' d='M9 6h12M9 12h12M9 18h12'/%3E%3C/svg%3E");
  -webkit-mask-image: var(--u);
  mask-image: var(--u);
}

svg-icon.install-desktop,
b.svg-icon.install-desktop {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='square' stroke-width='2' d='M5 22h14M13 4H2v14h20v-5.995M16.498 5.5l2.503 2.502l2.5-2.5m-2.5 1.748V2.002'/%3E%3C/svg%3E");
  -webkit-mask-image: var(--u);
  mask-image: var(--u);
}

svg-icon.install-mobile,
b.svg-icon.install-mobile {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='square' stroke-width='2' d='M14 2H5v20h14V12m-7 6h.004v.004H12zm4.498-12.5l2.503 2.502l2.5-2.5m-2.5 1.748V2.002'/%3E%3C/svg%3E");
  -webkit-mask-image: var(--u);
  mask-image: var(--u);
}

svg-icon.lpa,
b.svg-icon.lpa {
  width: 2.2lh;
  aspect-ratio: 44 / 20;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 20'%3E%3Cg style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5'%3E%3Ccircle cx='10' cy='10' r='6'/%3E%3Cpath d='M7.9 7.9A3 3 0 1 1 7.9 12.1'/%3E%3Cpath d='M22 2v6m0 4v6'/%3E%3Ccircle cx='34' cy='10' r='6'/%3E%3Cpath d='M36.1 7.9A3 3 0 1 0 36.1 12.1'/%3E%3C/g%3E%3C/svg%3E");
  -webkit-mask-image: var(--u);
  mask-image: var(--u);
}
