@charset "utf-8";

/* =========================================
   MEDIA QUERIES
   ========================================= */

/* --- 1664px (Extra Large Desktop) --- */
@media screen and (min-width: 1664px) {

  main,
  nav#foot-nav,
  footer,
  dialog {
    max-width: 60vw;
  }

  main#wide {
    max-width: 80vw;
  }
}

@media screen and (max-width: 1663px) {

  main,
  nav#foot-nav,
  footer,
  dialog {
    max-width: 85vw;
  }

  main#wide {
    max-width: 90vw;
  }

  main {
    padding-top: 1rem;
  }

  h1.cover {
    margin-top: 0;
    margin-bottom: 2rem;
  }
}

/* --- 960px (Small Desktop / Tablet Landscape) --- */
@media screen and (max-width: 960px) {

  body {
    font-size: 1rem;
  }


  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: inline-block;
  }
}

/* --- 720px (Tablet Portrait / Large Mobile) --- */
@media screen and (max-width: 720px) {

  body {
    font-size: 0.8rem;
  }

  main,
  nav#foot-nav,
  footer,
  dialog {
    max-width: 95vw;
  }

  main#wide {
    max-width: 95vw;
  }
}

/* Force side-by-side 25% / 75% layout for Language and Offensiveness on > 640px */
@media screen and (min-width: 641px) {
  #search-filters>fieldset#language-filter {
    flex: 0 0 calc(40% - 0.4rem);
  }

  #search-filters>fieldset#ol-filter {
    flex: 0 0 calc(60% - 0.4rem);
  }
}

/* --- 640px (Standard Mobile) --- */
@media screen and (max-width: 640px) {
  body {
    font-size: 0.9rem;
  }

  nav#toolbar svg-icon {
    height: 1.2em;
    width: 1.2em;
    mask-size: 1.2em;
  }

  nav#toolbar>div>a,
  nav#toolbar>div>label {
    margin-inline-end: 0;
  }

  #search-filters {
    flex-direction: column;
  }

  #date-time-filter>div {
    flex-wrap: wrap;
  }

  #location-filter {
    flex-direction: column;
    align-items: stretch;
  }

  #location-filter>div {
    flex-wrap: wrap;
  }

  #location-filter>div>label {
    width: 100%;
    margin-bottom: 0.25rem;
  }
}

/* --- 320px to 640px (Small Mobile Landscape -> Tablet Portrait Edge) --- */
@media screen and (min-width: 320px) and (max-width: 639px) {
  article.av {
    display: grid;
    column-gap: 0.5rem;
    grid-template-columns: 78% 1fr;
    grid-template-rows: auto auto 48px;
    grid-template-areas:
      "header ."
      "video aside"
      "footer footer";
    font-size: 1.1rem;
    margin-top: 1rem;
  }
}

/* --- Retina / High DPI displays --- */
@media screen and (-webkit-min-device-pixel-ratio: 0) {

  select,
  textarea,
  input {
    font-size: var(--base-font-size);
  }
}

/* --- PWA / Standalone --- */
@media all and (display-mode: standalone),
(display-mode: fullscreen) {

  *,
  *:before,
  *:after {
    user-select: text !important;
  }
}
